.status {
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
